In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# confirm that the "autosaurus" database is in MongoDB
print(mongo.list_database_names())

['admin', 'autosaurus', 'classDB', 'config', 'fruits_db', 'local', 'petsitly_marketing', 'test', 'testdb', 'travel_db', 'uk_food']

In [4]:
# assign the database to a variable name
db = mongo['autosaurus']

In [5]:
# review the collections in our new database
print(db.list_collection_names())

['mechanics', 'customers']

In [6]:
# assign each collection to a variable
customers = db['customers']
mechanics = db['mechanics']

In [8]:
# Create a query that sorts in ascending order by last_service
query = {}
sort = [{'last_service',1}]

# Capture the results to a variable
results = customers.find(query).sort(sort)

# Pretty print the first five results
for doc in range(5):
    print(results[doc])

{'_id': 593, 'full_name': 'Luci Beddie', 'car_make': 'Porsche', 'car_model': 911, 'car_year': 2009, 'car_vin': 'WAUAH94F66N996350', 'last_service': '1/1/22'}
{'_id': 593, 'full_name': 'Luci Beddie', 'car_make': 'Porsche', 'car_model': 911, 'car_year': 2009, 'car_vin': 'WAUAH94F66N996350', 'last_service': '1/1/22'}
{'_id': 304, 'full_name': 'Madlen Dackombe', 'car_make': 'Maserati', 'car_model': 'Quattroporte', 'car_year': 2011, 'car_vin': '2C4RDGEG7DR461833', 'last_service': '1/10/22'}
{'_id': 590, 'full_name': 'Roxane Couch', 'car_make': 'Pontiac', 'car_model': 'Grand Am', 'car_year': 1985, 'car_vin': '5XYKT3A16CG022995', 'last_service': '1/10/22'}
{'_id': 590, 'full_name': 'Roxane Couch', 'car_make': 'Pontiac', 'car_model': 'Grand Am', 'car_year': 1985, 'car_vin': '5XYKT3A16CG022995', 'last_service': '1/10/22'}

In [11]:
# Create a query that sorts in ascending order by last_service and limits the results to the first 5
query = {}
sort = [{'last_service',1}]
limit = 3
results = customers.find(query).sort(sort).limit(limit)

# Pretty print the results
pprint(list(results))

[{'_id': 875,
  'car_make': 'Mazda',
  'car_model': 'Mazda6',
  'car_vin': '3GYEK63N43G743393',
  'car_year': 2003,
  'full_name': 'Winthrop Retchford',
  'last_service': '1/1/22'},
 {'_id': 593,
  'car_make': 'Porsche',
  'car_model': 911,
  'car_vin': 'WAUAH94F66N996350',
  'car_year': 2009,
  'full_name': 'Luci Beddie',
  'last_service': '1/1/22'},
 {'_id': 304,
  'car_make': 'Maserati',
  'car_model': 'Quattroporte',
  'car_vin': '2C4RDGEG7DR461833',
  'car_year': 2011,
  'full_name': 'Madlen Dackombe',
  'last_service': '1/10/22'}]

In [16]:
# Create a query that:
# finds customers with a "Nissan" or "Hyundai"
# sorts in descending order by car_year
# limits the results to the first 5
query = {'car_make': {'$in': ['Nissan', 'Hyundai']}}
sort = [('car_year',-1)]
limit = 3
results = customers.find(query).sort(sort).limit(limit)

# Pretty print the results
pprint(list(results))

[{'_id': 966,
  'car_make': 'Hyundai',
  'car_model': 'Tucson',
  'car_vin': 'WBAFV3C52ED597363',
  'car_year': 2012,
  'full_name': 'Corny Marryatt',
  'last_service': '8/10/22'},
 {'_id': 488,
  'car_make': 'Nissan',
  'car_model': 'Sentra',
  'car_vin': '3D7LP2ET6BG853076',
  'car_year': 2012,
  'full_name': 'Katerine Giffin',
  'last_service': '9/22/22'},
 {'_id': 416,
  'car_make': 'Nissan',
  'car_model': 'Versa',
  'car_vin': '5GADV23L25D047844',
  'car_year': 2012,
  'full_name': 'Trina Pride',
  'last_service': '2/27/22'}]

In [17]:
# Create a query that:
# finds customers with a "Nissan" or "Hyundai"
# sorts in descending order by car_year, then ascending order by last_service
# limits the results to the first 5
query = {'car_make': {'$in': ['Nissan', 'Hyundai']}}
sort = [('car_year',-1), ('last_service',1)]
limit = 3
results = customers.find(query).sort(sort).limit(limit)

# Pretty print the results
pprint(list(results))

[{'_id': 416,
  'car_make': 'Nissan',
  'car_model': 'Versa',
  'car_vin': '5GADV23L25D047844',
  'car_year': 2012,
  'full_name': 'Trina Pride',
  'last_service': '2/27/22'},
 {'_id': 966,
  'car_make': 'Hyundai',
  'car_model': 'Tucson',
  'car_vin': 'WBAFV3C52ED597363',
  'car_year': 2012,
  'full_name': 'Corny Marryatt',
  'last_service': '8/10/22'},
 {'_id': 488,
  'car_make': 'Nissan',
  'car_model': 'Sentra',
  'car_vin': '3D7LP2ET6BG853076',
  'car_year': 2012,
  'full_name': 'Katerine Giffin',
  'last_service': '9/22/22'}]